.App {
  /* text-align: center; */

  
}
h2{
  width: 100%;
  align-items: center;
}
.cards{


  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  text-align: center;

}
.card-project{
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;

}
.cardInt{
width: 30%;
display: flex;
flex-wrap: wrap;

}
.card{
  width: 100%;
  border:1px solid black;
  margin :10px;
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  border-radius:20px 20px;
}
.header{
  display: flex;
  justify-content:space-around;
  align-items:center;
  height: 5vh;

}
.footer{
  height: 15vh;
  /* border:1px solid black; */
}
.home{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
ul{
  display: flex;
  z-index: 999;
  transition: all 1s ease;
}
li{
  list-style: none;
  margin: 10px;
  
}
li a{
  text-decoration: none;
  color: black;
}
.home div{
  /* border: 1px solid black; */
  /* width: 40%;
  height : 60vh ;
  display:flex ;
  justify-content:center;
  align-items:center; */
}
h1{
  width:  100%;
  font-size: 3.5em;
}
.dadproject{
  display: flex;
  text-align: center;
  width:  42%;
  justify-content:center;
  align-items:center;
  flex-wrap: wrap;

}
.kidproject{
  border: 1px solid black;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content:center;
  align-items:center;
  
  margin: 10px;
}
.movil-nav{
  display: none;
}

@media (max-width: 768px) {
  .imageContainer{
    display: flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    width: 25%;
   border: 1px solid black;
    height:  100px;
    border-radius: 50%;
    animation: App-logo-spin-2 infinite 4s linear
  }.picture{
    width: 100%;
    border-radius: 50%;
    object-fit: fill;
    animation: App-logo-spin infinite 3s linear
  }
  .cards{
    margin-top:10px;
  }
  .navigation{
    display: none;
  }
  h2{
    margin-top: 40px;
  }.card{
    margin-top:40px;
    width : 80%;
  }
  .cardInt{
    width: 90%;
    height: 40vh;
  }ul{
    margin-right: 10px;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    
  } .movil-nav{
    width: 12%;
    display: flex;
    justify-content:center;
    flex-direction: column;
    height:  5vh;
  }
  .line{
    border: 1px solid black;
    margin : 3.1px;
  }.home{
    justify-content:center;
    flex-direction: column;
    align-items: center;
  }.dadproject{
    width: 80%;
  }.picture{
    width : 30%;
  }.header{
    margin: 50px;
  }.kidproject{
    width : 25%;
    height:  60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
  }h1{
   font-size: 30px;
  }.card-only{
    border: 1px solid;
    width: 100%;
    height: 200px;
    padding: 10px;
  }
}
@media (min-width: 770px) {

  .cardInt{
    width: 32%;
    height: 25vh;
  }.home{
    margin: 100px;
  }
  .header{
  
   margin-top: 20px;
   justify-content: space-around;
   flex-direction: row-reverse;
   height:  10vh;
  }
  .movil-nav{
    
    display: flex;
    justify-content:center;
    align-items:center;
    width:  100px;
    height: 100px;


  }
  .line{
    width: 65%;
    border: 1px solid black;
    border: 1px solid black;
    margin : 5.1px;

  }.navigation{
    display: none;
  }
 
}
@media (min-width: 1300px){
  .movil-nav{
    display:flex;
  } .cardInt{
    width: 26%;
    height: 35vh;
  }
  
}
@keyframes App-logo-spin {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0deg);
  }
} 
@keyframes App-logo-spin-2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
} 
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
